body {
  width: 100%;
  height: 100%;
  color: #333;
  background: url(picture/tint.png) center center fixed;
  background-size: cover;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;

// ****TEXT**********
  h1 {
    font-size: 27px; // 30px
    line-height: 42px;
  }
  p {
    font-size: 12px; //14px
    line-height: 24px;
  }

  h2{
    font-size: 12px; //14px;
    line-height: 24px;
  }

// Line is the same for two blocks (Down)

  div.content__newsUp_line {
    margin: 75px 10px 66px;
    width: 8px;
    height: 278px;
    background: url("picture/back_new_line.png");
    background-size: cover;
  }

//****** Decoration for BUTTONS********
  .btn {
    width: 140px;
    height: 44px;
    background-color: black;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;

    a {
      margin: 0 auto;
      color: white;
      text-align: center;
      font-size: 13px; //14px;
      line-height: 24px;
      text-transform: uppercase;
      font-family: 'PT Sans', sans-serif;
      text-decoration: none;
    }
  }


  // *********1.CONTEINER - CONTENT******************************
  .content {
    color: #f7f4f1;
    font-weight: 700;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content__pic {
      width: 368px;
      height: 204px;
      background: url(picture/borodinski-logo.png) ;
      background-size: cover;

    }
    // ********THREE BLOCKS -->> *************************************
    .content__block {
      width: 940px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 65px;

      .content__block__fea {
        width: 265px;
        align-items: center;
        justify-content: center;

        h1 {
          text-align: center;
          margin-bottom: 10px;
        }
        p {
          margin-top: 22px;
          text-align: center;
        }
        // ***Rectangle
        div {
          margin: 0 auto;
          width: 30px;
          height: 29px;
          background: url(picture/shape-1.png);
          background-size: cover;
        }
      }
    }

    //************************SECOND BLOCK ---> NEWS****************************************
    div.content__newsUp {
      width: 940px;
      height: 419px;
      background: url("picture/back_news.png");
      background-size: cover;
      display: flex;
      flex-direction: row;
      color: #000000;
      margin-bottom: 35px;

      .content__newsUp__text {
        width: 360px;
        margin-top: 30px;
        margin-left: 75px;
        display: flex;
        flex-direction: column;

        h1 {
          margin-bottom: 19px;
        }

        h2 {
          margin-top: 0;
          margin-bottom: 0;
        }

        p.date {
          margin-top: 0;
          margin-bottom: 0;
          text-transform: lowercase;
        }
        .content__newsUp__text__up, .content__newsUp__text__down {
          margin-bottom: 24px;
        }

      }

      div.content__newsUp_line {
        margin: 75px 24px 66px;
        width: 8px;
        height: 278px;
        background: url("picture/back_new_line.png");
        background-size: cover;

      }

      //***********FOTOGALERY*****************

      div.content__newsUp__foto {
        width: 300px;
        margin: 30px 64px 25px;
        display: flex;
        flex-direction: column;

        .content__newsUp__foto__pic {
          width: 300px;
          height: 178px;
          background-color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;

          div {
            width: 286px;
            height: 164px;
            background: url('picture/foto_news.png');
            background-size: cover;
          }
        }

        .content__newsUp__foto__nav {
          margin-top: 40px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }


// *****CONTACT INFO*****************************

    div.content__contact {
      width: 940px;
      height: 396px;
      display: flex;
      flex-direction: row;
      background: url("picture/back_news.png");
      background-size: cover;
      color: #000000;
      margin-bottom: 65px;

      .content__newsUp_line{
        margin-left: 3px;
      }

      .content__contact__rightside {
        width: 383px;
        display: flex;
        flex-direction: column;
        margin-top: 28px;
        margin-left: 75px;

        h2 {
          margin-top: 0;
          margin-bottom: 0;
        }
        .content__contact__rightside__btn {
          display: flex;
          flex-direction: row;

          .btn {
            margin: 25px 20px 0 0;
          }
        }
      }


      .content__contact__leftside {
        width: 302px;
        display: flex;
        flex-direction: column;
        margin: 28px 75px;

        h2{
          margin: 0 2px;
        }

        form {
          margin-top: 12px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;


          input{
            height: 43px;
            border: 2px solid #000101;
            font-size: 13px;
            font-weight: 700;
            line-height: 20px;
            font-family: 'PT Sans', sans-serif;
            text-transform: uppercase;
          }

          input[type=text] {
            width: 130px;
            background-color: #f9f6f3;
            margin-top: 10px;
            padding-left:10px;
          }
          input[type=submit] {
            width: 300px;
            height: 43px;
            background-color: black;
            color: white;
            text-align: center;
            margin-top: 20px;
          }

          ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: black;
          }
          ::-moz-placeholder { /* Firefox 19+ */
            color: black;
          }
          :-ms-input-placeholder { /* IE 10+ */
            color: black;
          }
          :-moz-placeholder { /* Firefox 18- */
            color: black;
          }
        }
      }
    }
  }
}


