doctype html
html(lang='en')
  head
    title Jade
    link(rel='stylesheet', href='css/normalize.css', type='text/css')
    link(rel='stylesheet', href='css/main.css', type='text/css' )
    link(href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet")
  body
    div.content
      div.content__pic
      div.content__block

        div.content__block__fea
          h1 БЫСТРО
          div
          p МЫ ДЕЛАЕМ СВОЮ РАБОТУ БЫСТРО! ДВА ЧАСА ПРОЛЕТЯТ НЕЗАМЕТНО И ВЫ — СЧАСТЛИВЫЙ ОБЛАДЕТЕЛЬ СТИЛЬНОЙ СТРИЖКИ-МИНУТКИ!

        div.content__block__fea
          h1 КРУТО
          div
          p ЗАБУДЬТЕ, КАК ВЫ СТРИГЛИСЬ РАНЬШЕ. МЫ СДЕЛАЕМ ИЗ ВАС ЗВЕЗДУ ФУТБОЛА ИЛИ КИНО! ВО ВСЯКОМ СЛУЧАЕ ВНЕШНЕ.
        div.content__block__fea
          h1 ДОРОГО
          div
          p НАШИ МАСТЕРА — ПРОФЕССИОНАЛЫ СВОЕГО ДЕЛА И НЕ МОГУТ СТОИТЬ ДЕШЕВО. К ТОМУ ЖЕ, РАЗВЕ ЦЕНА НЕ ДАЕТ ОПРЕДЕЛЕНЫЙ СТАТУС?

      div.content__newsUp
        div.content__newsUp__text
          div.content__newsUp__text__up
            h1 НОВОСТИ
            h2 НАМ НАКОНЕЦ ЗАВЕЗЛИ ЯГЕРМАЙСТЕР! ТЕПЕРЬ ВЫ МОЖЕТЕ ПРОПУСТИТЬ СТАКАНЧИК ВО ВРЕМЯ СТРИЖКИ
            p.date 11 января
          div.content__newsUp__text__down
            h2 В НАШЕЙ КОМАНДЕ ПОПОЛНЕНИЕ, БОРИС «БРИТВА» СТРИГУНЕЦ, ОБЛАДЕТЕЛЬ МНОЖЕСТВА ТИТУЛОВ И НАГРАД ПОПОЛНИЛ НАШИ СТРОЙНЫЕ РЯДЫ
            p.date 18 января
          div.btn
            a(href='#') ВСЕ НОВОСТИ

        div.content__newsUp_line

        div.content__newsUp__foto
          h1 ФОТОГАЛЕРЕЯ
          div.content__newsUp__foto__pic
            div
          div.content__newsUp__foto__nav
            div.btn
              a(href='#') назад
            div.btn
              a(href='#') назад

      div.content__contact
        div.content__contact__rightside
          h1 КОНТАКТНАЯ ИНФОРМАЦИЯ
          h2 БАРБЕРШОП «БОРОДИНСКИЙ»
          h2 АДРЕС: Г.САНКТ-ПЕТЕРБУРГ, Б. КОНЮШЕННАЯ, Д. 19/8
          h2 ТЕЛЕФОН: +7 (495) 666-02-66
          br
          h2 ВРЕМЯ РАБОТЫ:
          h2 ПН — ПТ: С 10:00 ДО 22:00
          h2 СБ — ВС: С 10:00 ДО 19:00
          div.content__contact__rightside__btn
            div.btn
              a(href='#') КАК ПРОЕХАТЬ
            div.btn
              a(href='#') ОБРАТНАЯ СВЯЗЬ
        div.content__newsUp_line
        div.content__contact__leftside
          h1 ЗАПИСАТЬСЯ
          h2 УКАЖИТЕ ЖЕЛАЕМУЮ ДАТУ И ВРЕМЯ И МЫ СВЯЖЕМСЯ
          h2 С ВАМИ ДЛЯ ПОДТВЕРЖДЕНИЯ БРОНИ
          form(action='#', method='post')
            input(type='text' id='date' placeholder='дата')
            input(type='text' id='time' placeholder='время')
            input(type='text' id='name' placeholder='ваше имя')
            input(type='text' id='tel' placeholder='телефон')
            div.btni
              input(type='submit' value='отправить')




